@import 'tailwindcss';

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #023465;
}

@theme inline {
  --font: var(--font);
}

body {
  background: var(--dark-blue);
  color: var(--white);
  font-family: var(--font), sans-serif;
  /* background-image: url(/background-image.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 100dvh;
}

input {
  color: var(--black);
  background-color: var(--white);
}

select {
  background-color: var(--white);
  color: var(--black);
}

option {
  color: var(--black);
}

button {
  cursor: pointer;
}
